body {
  max-width: 1024px;
  font-family: roboto, Arial;
}

p {
  text-align: center;
}

section .heading-container p {
  font-weight: bold;
  font-size: larger;
  color: rgb(80, 80, 80);
}

section .heading-container .scan-serial {
  color: rgb(189, 189, 189);
  font-size: 14px;
}

.dashboard-header h2 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

i {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: white;
}

section .button-container .general-button a {
  color: black;
}

section .button-container .scanevent-button a {
  color: black;
}

.header {
  background-color: blue;
  color: white;
  height: 55px;
  font-size: larger;

}

section .heading-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* BUTTONS */
section .button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;

}

/* scanfailed-button */
.scanfailed-button {
  background-color: blue;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 5px;
  transition: opacity 0.15s;
}

.scanfailed-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.scanfailed-button:active {
  opacity: 0.5;
}

/* generalevent-button */
.general-button {
  background-color: rgb(236, 227, 227);
  height: 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.general-button:hover {
  background-color: rgba(214, 206, 206, 0.945);

}

.general-button:active {
  opacity: 0.5;
}

/* scanevent-button */
.scanevent-button {
  background-color: rgb(236, 227, 227);
  height: 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.scanevent-button:active {
  opacity: 0.5;
}

.scanevent-button:hover {
  background-color: rgba(214, 206, 206, 0.945);
}



/* refresh and site event button */
section .button-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

/* .refresh-button */
.refresh-button {
  background-color: blue;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 5px;
  width: 100px;
  transition: opacity 0.15s;
}

.refresh-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.refresh-button:active {
  opacity: 0.5;
}

.refresh-button i {
  padding-right: 10px;
}

/* site-event-button */
.site-event-button {
  background-color: blue;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 5px;
  width: 100px;
  transition: opacity 0.15s;
}

.site-event-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.site-event-button:active {
  opacity: 0.5;
}

/* footer */
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  height: 2.4rem;

}

.Settings-button {
  display: flex;
  align-items: center;
  justify-content: center;

}

.settings-text {
  display: inline;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'1,
    'wght'300,
    'GRAD'0,
    'opsz'48
}